/* general */
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-dark-color);
	color: var(--color-white);
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.call-to-action{
	background-color: rgba(0, 0, 0, 0.3);
	width: calc(100% - 250px);
	height: 70px;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
}
.call-to-action a{
	color: var(--color-white);
}
img{
	width: 100%;
	display: block;
}
.logo{
	width: 150px;
}

/* main */
main{
	width: 100%;
	height: calc(100% - 90px);
}
.wrapper{
	width: 100%;
	height: 100vh;
}
.svg{
	display: inline-block;
	height: 26px;
	width: auto;
}
.container{
	width: calc(100% - 250px);
	background-color: var(--color-dark-color);
	overflow: auto;
	padding: 90px 30px 90px 40px;
}
.container h2{
	color: var(--color-white);
}
.container .underline{
	border-bottom: 3px solid transparent;
}
.container .underline:hover{
	border-bottom: 3px solid var(--color-highlight);
}
ul{
	display: inline-block;
	list-style: none;
}
ul a{
	color: var(--color-light-grey);
}
a{
	text-decoration: none;
}
.card{
	width: calc(100% / 6);
	cursor: pointer;
}
.card-img{
	position: relative;
}
.card-img i{
	font-size: 2em;
}
.card-text{
	text-align: center;
	color: var(--color-white);
}
.card-text h3{
	color: var(--color-white);
	padding: 10px 0 10px 0;
}
.card-text small{
	color: var(--color-light-grey);
	padding-bottom: 10px
}
p{
	/* padding-left: 10px; */
	color: var(--color-grey)
}
h2{
	padding-left: 10px;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* display: none; */
	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s;
}
.card:hover .overlay{
	opacity: 1;
}
/* side bar */
.side-bar{
	width: 250px;
	background-color: var(--color-black);
	overflow: hidden;
}
.nav-top{
	width: 100%;
	min-height: 500px;
	overflow: hidden;
}
.nav-bottom{
	width: 100%;
	min-height: 100px;
}
#menu{
	padding-left: 20px;
	padding-top: 30px;
}
#playlist{
	padding-left: 20px;
	padding-top: 30px;
	min-height: 250px;
	overflow-y: auto;
}
.nav-top li{
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-bottom img{
	margin-left: 20px;
}
#download{
	width: 15px;
	display: inline-block;
	margin-right: 10px;
}
#profile{
	width: 25px;
	margin-right: 15px;
	background-color: var(--color-grey);
	border-radius: 15px;
}
span{
	display: inline-block;
}
hr{
	margin: 20px;
}
.user{
	margin-bottom: 10px;
}


/* playbar */
.playbar{
	width: 100%;
	height: 90px;
	padding: 10px;
	background-color: var(--color-dark-grey);
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
}
.playbar-left{
	width: 250px;
}
.playbar-left img{
	width: 50px;
}
.playbar-right{
	width: 250px;
}

/* UTILITY */
.debug{
	border: 1px solid white;
}
.d-flex{
	display: flex;
}
.justify-end{
	justify-content: flex-end;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.align-center{
	align-items: center;
	align-content: center;
}
.wrap{
	flex-wrap: wrap;
}
.flex-row{
	flex-direction: row;
}
.flex-column{
	flex-direction: column;
}

/* padding */
.p-10{
	padding: 10px;
}
.py-10{
	padding-left: 10px;
}
.px-10{
	padding-right: 10px;
}
.px-20{
	padding-right: 20px;
}
.py-20{
	padding-left: 20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-10{
	padding-top: 10px;
}
.pt-20{
	padding-top: 20px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-30{
	padding-bottom: 30px;
}
/* icon */
.icon{
	padding: 5px;
	display: inline-block;
}
.playbar-center i{
	font-size: 1.5rem;
}
.playbar-center .fa-circle-play{
	font-size: 2em;
}
.fa-square-plus{
	font-size: 40px;
	color: var(--color-grey);
}
/* button */
.btn{
	padding: 10px 25px;
	border-radius: 20px;
}
/* media query */
@media screen and (max-width: 992px){
	.card{
		width: calc(100% / 2);
	}
}
@media screen and (max-width: 760px){
	.card{
		width: calc(100% / 2);
	}
}